@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
  --fontetitulo: Passion One;
  --fonteconteudo: Sriracha;
  --cor1: #022601;
  --cor2: #F2B705;
  --cor3: #F29F05;
  --cor4: #D97904;
  --cor5: #A60303;
}



header {
  background-color: black;
  color: white;
  padding: 50px;
  margin: -10px;
  text-align: center;
}

header>h1 {
  margin: 0;
  font-family: var(--fontetitulo);
  font-size: 10vw;
  font-variant: small-caps;
}


header p {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;

}

header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

header p a:hover {
  text-decoration: underline;
}

body {
  background-color: var(--cor4);
}

main {
  background-color: white;
  margin: auto;
  width: 100%;
}

main pre {
  font-size: 3vw;
  font-family: var(--fonteconteudo);
  padding-left: 30px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
}

#primeiro {
  margin: 10px;
}

#segundo {
  padding-top: 0;
}

section {
  box-shadow: inset 6px 6px 13px 0 rgba(0, 0, 0, 0.542);
  background-attachment: fixed;
  padding: 30px;
}

section#joaninha {
  background: gray url('../imagens/background001.jpg') right center no-repeat fixed;
  background-size: cover;

}

section#jornal {
  background: gray url('../imagens/background002.jpg') right center no-repeat fixed;
  background-size: cover;
}

section pre {
  background-color: rgba(0, 0, 0, 0.718);
  display: inline-block;
  color: white;
  font-size: 3vw;
  padding: 10px;
  text-shadow: 2px 2px 0px black;

}


footer {
  background-color: black;
  color: white;
  margin: -10px;
  padding: 10px;
  text-align: center;

}

footer p {
  margin: 0;
  font-family: var(--fonteconteudo);
}

footer p a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer p a:hover {
  text-decoration: underline;
}